{{> admin/navbar}}
<div class="container-fluid">
    <div class="row vh-100">
        <div class="d-flex">

            {{> admin/sidebar currTab = "reports"}}
            
            <div class="ms-3 mt-4 flex-grow-1">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-6 fw-bold">Sales reports</span>
                </div>

                <div class="mt-3">
                    <form action="/reports/sales" method="get">
                    <div class="d-flex gap-3 ms-1">
                        <div>
                            <label class="span d-block" for="dateInput-from">From:</label>
                            <input type="date" id="dateInput-from" name="from" value='{{from}}'>
                        </div>
                        <div>
                            <label class="span d-block" for="dateInput-to">To:</label>
                            <input type="date" id="dateInput-to" name="to" value='{{to}}'>
                        </div>
                        <button type="submit" class="btn-2 d-inline-block p-2 px-4 align-self-end" style="font-size: 11px;">Generate</button>
                    </div>
                    </form>
                </div>

                <div class="m-1 border rounded w-100 mt-4">
                    <table class="table table-hover" id="tbl">
                        <thead>
                            <tr>
                                <th scope="col" style="border-top-left-radius: 0.375rem !important;"></th>
                                <th scope="col">Date</th>
                                <th scope="col">User ID</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Payment Mode</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each orders}}

                            <tr>
                                <td data-id="{{this._id}}"></td>
                                <td>{{getDate this.createdAt}}, {{getTime this.createdAt}}</td>
                                <td>{{this.user.email}}</td>
                                <td>{{count this.items}}</td>
                                <td>{{formatPrice this.finalAmount}}</td>
                                <td>{{this.paymentMode}}</td>
                            </tr>

                            {{/each}}

                        </tbody>
                    </table>
                    <div class="text-center my-4 ms-5">

                        {{#loop totalPages}}
                            <a href="/admin/orders/p/{{this}}">
                                <span class="mx-1 {{#if (isActive ../page this)}}bg-off-white p-2 rounded fw-bold{{/if}}">{{this}}</span>
                            </a>
                        {{/loop}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> admin/footer}}

<script>

    addRowHandlers = () => {
        const table = document.getElementById("tbl")
        const rows = table.getElementsByTagName("tr")
        for (i = 1; i < rows.length; i++) {
            const currentRow = table.rows[i]
            const createClickHandler = row => {
                return () => {
                    const cell = row.getElementsByTagName("td")[0]
                    const id = cell.getAttribute('data-id')
                    window.location.href = `/admin/orders/?id=${id}`
                }
            }
            currentRow.onclick = createClickHandler(currentRow)
        }
    }
    window.onload = addRowHandlers()

</script>