<div class="cart-item-wrapper">
    {{#if index}}
    <hr class="m-0 mx-2">
    {{/if}}
    <div class="cart-item d-flex gap-4 p-3" data-id="{{item._id}}"
        data-price="{{item.productId.price}}" data-qty="{{item.quantity}}" data-mrp={{item.productId.mrp}}>
        <div class="align-self-center">
            <img src="https://gadgethive-s3.s3.amazonaws.com/images/{{item.productId.images.[0]}}" alt="product_image" width="75px">
        </div>
        <div class="align-self-center flex-grow-1">
            <p class="fw-semibold">{{item.productId.title}}</p>
            <p class="span">
                {{#unless (eq item.productId.memory 'Not Specified')}}
                {{item.productId.memory}},&nbsp;
                {{/unless}}
                {{item.productId.storage}}
            </p>
            <p class="span">{{item.productId.color}}</p>
            <br>
            <div class="d-flex align-items-center gap-2">
                <span class="fw-bold">Qty: </span>
                <div class="quantity-selector">
                    <button class="dropdown-toggle">
                        <span id="product-qty" class="selected-quantity me-1">{{item.quantity}}</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" value="1">1</li>
                        <li class="dropdown-item" value="2">2</li>
                        <li class="dropdown-item" value="3">3</li>
                        <li class="dropdown-item" value="4">4</li>
                        <li class="dropdown-item" value="5">5</li>
                        <li class="dropdown-item" value="6">6</li>
                        <li class="dropdown-item" value="7">7</li>
                        <li class="dropdown-item" value="8">8</li>
                        <li class="dropdown-item" value="9">9</li>
                        <li class="dropdown-item" value="10">10</li>
                    </ul>
                </div>
                <img class="delete-btn cursor-pointer" src="/images/trash.svg" onclick="openDeleteModal(this)"
                    alt="delete_button" width="20px" height="20px" >
            </div>
        </div>
        <div class="align-self-end">
            <p class="fw-bold" id="product-price">{{formatPrice (product item.productId.price item.quantity)}}</p>
        </div>
    </div>
</div>