<div class="wrapper cursor-pointer product-list-item pb-1">
    <div class="bg-off-white item-img-wrapper">
        <img class="blend-multiply" src="{{getFirstImageUrl product.images}}" alt="" height="180" width="180px" style="object-fit: contain;">
    </div>
    <div class="mt-2 item-details-wrapper">
        <span class="d-none" id="_id">{{product._id}}</span>
        <p class="item-title">{{product.title}}</p>
        <p class="item-price">{{formatPrice product.price}}<span class="text-decoration-line-through text-muted ms-2 item-mrp">{{formatPrice product.mrp}}</span></p>
        <p class="span text-truncate me-4">{{product.highlight}}</p>
    </div>
</div>

<style>
    .product-list-item:hover {
        transform: scale(1.06);
        transition: 0.3s ease-in-out;
    }
</style>